.footer{
    margin: auto;
    bottom: 0;
    width: 100%; 
    background-image: url(../img/bg.webp);
    left: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;

}

.footer-link {
    list-style-type: none;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 15px;
    color: var(--title-color);
}

.footer-link:hover{
    text-decoration: underline;
}

.footer__list,
.footer__span {
    display: flex;
    justify-content: space-around;
    color: var(--title-color);
}

