
.holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px;
    background-image: url(../img/background.png);
}

/* @media (max-width:570px){
    .holder{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} */

.holder__title{
    color: var(--text-color);
    text-align: center;
    font-size: 50px;
    margin: 80px auto;
}

.holder__offer{
    color:var(--my-color);
    font-weight: bold;
    padding: 30px;
}

.holder__request{
    font-size: 40px;
    text-align: center;
}

.contacts__input,
.holder__input{
    background: var(--light-color);
    box-sizing: border-box;
    border: 1px solid var(--title-color);
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    color: var(--bg-color-);
    padding: 12px 50px;
    margin: 10px;
}

.contacts__btn,
.request-container__btn,
.our-offers__btn,
.holder__btn{
    background: var(--title-color);
    color: var(--bg-color);
    font-weight: bold;
    border-radius: 8px;
    padding: 12px 30px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    border: 0;
    margin-top: 24px;
}


.features{
    margin-top: 20px;
}
.features__about-company{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 30px 70px;
    align-items: center;
    text-align: start;
}

@media (max-width:760px){
    
    .features__about-company{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
        padding: 50px;
    }


    .features__text{
        font-size: 25px;
        text-align:left;
        align-items:flex-start;
    }

    .features__img{

        max-width: 150px;
        max-height: 200px;
        align-items: center;
    } 

    .features__founders{
        font-size: 20px;
    }


}

.features__experience{
    display: flex;
    flex-direction: row;
}

.features__founders{
    padding: 0px 0px 0px 150px;
}


.features__text{
    margin-top: 0px;
    padding: 5px;
    text-align: center;
    align-items: center;
}

.features__founders p{
    text-align: justify;
}

.wrapper-advantage{
    background-image: url(../img/back_1.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    padding: 50px;
}

.advantage{
    display: flex;
}

.advantage__small-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 250px;
    height: 150px;
    font-size: 50px;
    border-radius: 50%;
}

.advantage__title{
    display: flex;
    text-align: left;
    color: var(--title-color);
    margin-top: 30px;
}

.advantage__desc{
    text-align: justify;
    color: var(--my-color);
    margin-top: 20px;
}


.video__modern-cottage {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.video__modern-cottage > iframe {
    max-width: 560px;
    width: 100%;
    border-width: 0;
}
/* .video__modern-cottage{
    text-align: center;
    overflow:hidden;
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0; 
}

.video__modern-cottage iframe{
    border: 0px;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
} */

.select-home{
    margin: 30px;
    text-align: center;
}

.select-home__title{
    font-size: 40px;
    padding: 20px 0px;
}

.select-home{
    padding: 30px;
}


.our-offers{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2vw;
    margin: 40px 10px; 
}

@media (max-width: 1000px) {

    .our-offers{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
    }  
}

@media (max-width: 850px) {
    .our-offers{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .our-offers{
        grid-template-columns: 430px;
        margin: 30px 275px;
    }
}

.our-offers__product{
    border: 1px dashed var(--light-color);
    align-items: center;
    font-size: 15px;
    margin: 5px;
    text-align: center; 
    border-radius: 30px;  
    padding: 20px 5px;
}

.our-offers__subject{
    color: var(--title-color);
    font-weight: bold;
    font-size: 30px;
    font-weight: bold;
}

.our-offers__price{
    padding: 5px;
}

.our-offers__img{
    padding: 5px;
    border-radius: 40%;  
    width: 80%; 
    margin: auto;
    text-align: center; 
    align-items: center;


}

.our-offers__desc{
    text-align: justify;
    font-size: 13px;
    padding: 10px;
}

.request-container{
    background-image: url(../img/back_2.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 300px;
    padding: 30px;
    text-align: center;
    font-size: 1em;
    color: var(--bg-color);
    max-width: 100%;
}


.request-container__title{
    color: var(--consult-color);
    margin-bottom: 25px;
}

.request-container__text{
    margin-bottom: 20px;
    color: var(--light-color)
}

.contacts {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.contacts__title {
    color: var(--title-color);
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}