
.holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    padding: 50px;
    background-image: url(../img/back_1.png);
}

.holder__title{
    color: var(--text-color);
    text-align: center;
    font-size: 50px;
    margin: 80px auto;
}

.holder__offer{
    color:var(--my-color);
    font-weight: bold;
    padding: 50px;
}


.holder__input{
    background: var(--light-color);
    box-sizing: border-box;
    border: 1px solid var(--title-color);
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    color: var(--bg-color-);
    padding: 12px 50px;
    margin-right: 10px;
}


.our-offers__btn,
.holder__btn{
    background: var(--title-color);
    color: var(--bg-color);
    font-weight: bold;
    border-radius: 8px;
    padding: 12px 30px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    border: 0;
    margin-top: 24px;
}


.features__about-company{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0px 300px;
    align-items: center;
    text-align: start;
}

.features__experience{
    display: flex;
    flex-direction: row;
}

.features__founders{
    padding: 0px 0px 0px 150px;
}

.features__text{
    margin-top: 0px;
    padding: 5px;
    text-align: left;
}

.features__founders p{
    text-align: justify;
}

.wrapper-advantage{
    background-image: url(../img/back_2.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 150px;
    padding: 50px;

}


.advantage{
    display: flex;
}

.advantage__small-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 250px;
    height: 150px;
    font-size: 50px;
    border-radius: 50%;
}

.advantage__title{
    display: flex;
    text-align: left;
    color: var(--title-color);
    margin-top: 30px;
}


.advantage__desc{
    text-align: justify;
    color: var(--my-color);
    margin-top: 20px;
}

.iframe{
    border: 0px;
}

.our-offers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.our-offers__product{
    border: 5px solid var(--my-color);
    align-items: center;
    font-size: 15px;
    margin: 30px;
    text-align: center; 
    border-radius: 30px;   
}

.our-offers__subject{
    color: var(--title-color);
    font-weight: bold;
    font-size: 30px;
    font-weight: bold;
}

.our-offers__desc{
    text-align: justify;

}